body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, red, blue);
}

.div-externa-form {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.div-interna-form {
	box-shadow: black 7px 7px 20px;
	
	border: 1px black solid;
	border-radius: 5px;
	
	padding: 10px;
	margin: 100px 0px 0px 0px;
	
}

.palavras {
	color: white;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 12px;
}

.caixas-de-texto {
	width: 300px;
	height: 25px;
	border: none;
	border-radius: 5px; 
	box-shadow: 7px 7px 20px black;	
}

.botao-incluir {
	border: none; 
	border-radius: 5px;
	height: 25px; 
	background-image: linear-gradient(to right, blue, #080808); 
	color: white;
	box-shadow: 7px 7px 20px black;
}
.botao-incluir:hover {
	background-image: linear-gradient(to right, #080808, blue);
}


.botao-alterar {
	border: none; 
	border-radius: 5px;
	height: 25px;
	width: 60px;
	background-image: linear-gradient(to right, green, #080808); 
	color: white;
	box-shadow: 7px 7px 20px black;
}.botao-alterar:hover {
		background-image: linear-gradient(to right, #080808, green);
}

.botao-excluir {
	border: none; 
	border-radius: 5px;
	height: 25px;
	width: 60px; 
	background-image: linear-gradient(to right, red, #080808); 
	color: white;
	box-shadow: 7px 7px 20px black;
}.botao-excluir:hover {
		background-image: linear-gradient(to right, #080808, red);
}

.botao-limpar {
	border: none; 
	border-radius: 5px;
	height: 25px;
	width: 60px; 
	background-image: linear-gradient(to right, white, #080808); 
	color: white;
	box-shadow: 7px 7px 20px black;
}.botao-limpar:hover {
		background-image: linear-gradient(to right, #080808, white);
}

.botao-voltar {
	border: none; 
	border-radius: 5px;
	width: 60px; 
	height: 25px; 
	background-image: linear-gradient(to right, orange, #080808); 
	color: white;
	box-shadow: 7px 7px 20px black;
}.botao-voltar:hover {
	background-image: linear-gradient(to right, #080808, orange);
}