body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, red, blue);
}

.div-externa-form {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.div-interna-form {
	box-shadow: 7px 7px 20px black;
	
	padding: 10px;
	margin: 100px 0px 0px 0px;
	width: 320px;
	
	border: 1px solid black;
	border-radius: 5px;
	
}

.botaoLogin {
	border: none; 
	width: 300px; 
	height: 25px; 
	background-image: linear-gradient(to right, green, #080808);
	border-radius: 5px;
	color: white;
}.botaoLogin:hover {
		background-image: linear-gradient(to right, #080808, green);
}

.botaoPessoa {
	border: none; 
	width: 300px; 
	height: 25px; 
	background-image: linear-gradient(to right, red, #080808); 
	border-radius: 5px;
	color: white;
}.botaoPessoa:hover {
		background-image: linear-gradient(to right, #080808, red);
}

.botaoProduto {
	border: none; 
	width: 300px; 
	height: 25px; 
	background-image: linear-gradient(to right, blue, #080808); 
	border-radius: 5px;
	color: white;
}.botaoProduto:hover {
		background-image: linear-gradient(to right, #080808, blue);
}